* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*format header */

header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(to right,
        rgb(146, 242, 255), rgb(46, 22, 151)
    );
    color: white;
    text-align: center;
}

/*format cards for 1 to 5 day forecast*/

.card {
    background-color: rgb(38, 59, 83);
    color: white;
    padding: 10px;
    margin-left: 25px;
    margin-left: 25px;
    flex: 1 1;
}

/*format main to align contents*/

main {
    display: none;
    flex-direction: column;
    justify-content: space-around;
}

.card-title {
    font-size: 24px;
    margin-top: 0px;
}

.overall {
    display: flex;
    flex-direction: row;
}

.banner {
    color: black;
    padding: 20px;
    border: 1px solid black;
    margin: 25px;
    display: flex;
    flex-direction: column;
    width: 80vw;
    flex: 1 2;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

aside {
    margin: 25px;
}

#searchButton {
    background-color:   rgb(146, 242, 255);
    color: white;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    margin: 5px;
}

.cities {
    background-color: grey;
    border-radius: 5px;
    text-align: center;
 }

.city {
    font-size: 16px;
    padding: 5px;
    background-color: rgb(202, 202, 202);
    border-radius: 5px;
    width: 100%;
}

.city:hover {
    cursor:pointer;
}

/*format today's date at top of main box*/
#today {
    font-size: 30px;
    margin-top: 0px;
}

#uvIndex {
    width: 130px;
}

/*format icon width*/
.icon {
    width: 100px;
}

#citySearch {
    width: 100%;
    padding: 5px;
}